<ngb-accordion class="card-feed-entry">
    <ngb-panel>
        <ng-template ngbPanelTitle>
            <!--<span class="card-feed-title"><img class="card-feed-img" src="{{feed.feed.image}}"/> <a target="_blank" href="{{feed.feed.link}}">{{feed.feed.title}}</a> </span>-->
            <span class="card-feed-title"><img class="card-feed-img" src="{{feed.feed.image}}" onerror="this.parentNode.removeChild(this)"/> {{feed.feed.title}} </span>
        </ng-template>
        <ng-template ngbPanelContent>
            <div *ngFor="let item of feed.items" >
                <div class="card-feed-item" >
                    <!--<img class="card-item-img" src="{{item.thumbnail}}" onerror="this.parentNode.removeChild(this)"/>-->
                    <a target="_blank" href="{{item.link}}" class="card-item-title">{{item.title}}</a>
                    <!--<div class="card-item-description">{{item.description}}</div>-->
                    <div class="card-item-content" [innerHTML]="item.content"></div>
                    <!--<div class="card-item-author">{{item.author}}</div>-->
                    <!--<div class="card-item-date">{{item.pubDate}}</div>-->
                </div>
            </div>
        </ng-template>
    </ngb-panel>
</ngb-accordion>



