



<head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="http://www.google.com/uds/solutions/dynamicfeed/gfdynamicfeedcontrol.js"
            type="text/javascript"></script>

    <style type="text/css">
        @import url("http://www.google.com/uds/solutions/dynamicfeed/gfdynamicfeedcontrol.css");

        #feedControl {
            margin-top : 10px;
            margin-left: auto;
            margin-right: auto;
            width : 440px;
            font-size: 12px;
            color: #9CADD0;
        }
    </style>
    <script type="text/javascript">
        function onLoad() {
            var feed ="http://feeds.bbci.co.uk/news/world/rss.xml";
            new GFdynamicFeedControl(feed, "feedControl");

        }
        google.load("feeds", "1");
        google.setOnLoadCallback(load);
    </script>

</head>

<body onload="onLoad()">

<span style="display: block !important; width: 320px; text-align: center; font-family: sans-serif; font-size: 12px;"><a href="http://www.wunderground.com/cgi-bin/findweather/getForecast?query=zmw:80524.1.99999&bannertypeclick=wu_clean2day" title="Fort Collins, CO Weather Forecast" target="_blank"><img src="http://weathersticker.wunderground.com/weathersticker/cgi-bin/banner/ban/wxBanner?bannertype=wu_clean2day_metric_cond&airportcode=FNL&ForcedCity=Fort Collins&ForcedState=CO&zip=80524&language=EN" alt="Find more about Weather in Fort Collins, CO" width="300" /></a><br><a href="http://www.wunderground.com/cgi-bin/findweather/getForecast?query=zmw:80524.1.99999&bannertypeclick=wu_clean2day" title="Get latest Weather Forecast updates" style="font-family: sans-serif; font-size: 12px" target="_blank">Click for weather forecast</a></span>


<div id="body">
    <div id="feedControl">Loading...</div>
</div>

</body>





